/* src/templates/post.module.css */

.post__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nav__title {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--primary-heading-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.nav__more_posts {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--primary-heading-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.more_posts__background {
  position: absolute;
  padding: 6rem;
  z-index: -1;
  right: 0rem;
  top: 0rem;
  background-image: url("../assets/images/more_posts_corner_graphic.svg");
  background-repeat: no-repeat;
  background-position: 2.25rem -3.25rem;
}

.post__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 16rem 12rem;
  background-image: url("../assets/images/post_graphic_1.svg");
  background-repeat: no-repeat;
  background-size: auto 20rem;
  background-position: top 50% left -6rem;
}

.post__title {
  margin: 11.5rem 0 0.5rem 0;
  font-family: warnock-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: var(--primary-heading-color);
  text-transform: lowercase;
  text-decoration: none;
}

.post__date {
  margin: 0.5rem 0 3rem 0;
  display: block;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.post__content {
  margin-bottom: 3rem;
}

.post__signoff {
  margin: 3rem -1rem 0 -1rem;
  padding: 4rem 1rem 1rem 1rem;
  background-color: var(--secondary-background-color);
}

.signoff__heading {
  margin: 0 0 2rem 0;
  color: var(--secondary-heading-color);
}

.signoff__para {
  margin-bottom: 1.5rem;
  color: var(--secondary-text-color);
}

.post__social {
  margin: 0 0 3rem 0;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

.social__share {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-text-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.post__social > a {
  color: var(--secondary-text-color);
}

@media only screen and (min-width: 640px) {
  .post__content {
    margin: 0 auto 3rem auto;
    width: 67%;
    max-width: 640px;
  }
}

@media only screen and (min-width: 875px) {
  .post__nav {
    margin-top: 2rem;
  }

  .more_posts__background {
    padding: 6rem;
    background-position: 0.75rem -1.65rem;
  }

  .post__background {
    padding: 18rem 12rem;
    background-image: url("../assets/images/post_graphic_1.svg");
    background-repeat: no-repeat;
    background-size: auto 23.5rem;
    background-position: top 50% left -6rem;
  }

  .post__title {
    margin-top: 12.5rem;
  }

  .post__signoff {
    margin: 3rem -2rem 0 -2rem;
    padding: 4rem 2rem 2rem 2rem;
  }

  .signoff__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .post__social {
    justify-self: left;
  }
}
