/* src/pages/all-posts.module.css */

.all_posts__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--secondary-background-color);
}

.nav__title {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 18px;
  color: var(--secondary-heading-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.nav__social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 1rem;
}

.social__follow {
  margin-bottom: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-heading-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.nav__social > a {
  color: var(--secondary-heading-color);
}

.all_posts__banner {
  margin: 0 -1rem;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  background-image: url("../assets/images/all_posts_banner_graphic.svg");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 0.25rem);
}

.banner__heading {
  margin: 8rem 0;
  color: var(--secondary-heading-color);
  text-align: center;
}

.all_posts__listing {
  margin: 4.5rem 0;
}

.all_posts__post_container {
  margin: 2rem 0;
}

.all_posts__post_link {
  text-decoration: none;
}

.all_posts__post_title {
  margin: 4.5rem 0 0.5rem 0;
  font-size: 1.625rem;
  color: var(--primary-heading-color);
  text-decoration: none;
}

.all_posts__post_date {
  margin: 0.5rem 0 1.5rem 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.all_posts__post_excerpt {
  color: var(--primary-text-color);
}

.all_posts__signoff {
  margin: 3rem -1rem 0 -1rem;
  padding: 4rem 1rem 1rem 1rem;
  background-color: var(--secondary-background-color);
}

.signoff__content {
  margin-bottom: 3rem;
}

.signoff__heading {
  margin: 0 0 2rem 0;
  color: var(--secondary-heading-color);
}

.signoff__para {
  color: var(--secondary-text-color);
}

.all_posts__link {
  text-decoration: underline;
  color: var(--secondary-text-color);
}

@media only screen and (min-width: 875px) {
  .all_posts__nav {
    margin: 0 -2rem;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--secondary-background-color);
  }

  .all_posts__banner {
    margin: 0 -2rem;
    padding: 2rem;
  }

  .all_posts__listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
  }

  .all_posts__post_container {
    margin: 0;
  }

  .all_posts__post_title {
    margin: 0 0 0.5rem 0;
  }

  .all_posts__signoff {
    margin: 3rem -2rem 0 -2rem;
    padding: 4rem 2rem 2rem 2rem;
  }

  .signoff__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .signoff__heading {
    margin: 0;
  }
}

@media only screen and (min-width: 1264px) {
  .all_posts__nav {
    margin: 0 calc(-1 * (100vw - 1200px) / 2);
    padding: 2rem calc((100vw - 1200px) / 2) 0 calc((100vw - 1200px) / 2);
  }

  .all_posts__banner {
    margin: 0 calc(-1 * (100vw - 1200px) / 2);
    padding: 2rem calc((100vw - 1200px) / 2) 2rem calc((100vw - 1200px) / 2);
  }

  .all_posts__signoff {
    margin: 3rem calc(-1 * (100vw - 1200px) / 2) 0 calc(-1 * (100vw - 1200px) / 2);
    padding: 4rem calc((100vw - 1200px) / 2) 2rem calc((100vw - 1200px) / 2);
  }
}
