/* src/pages/all-posts.module.css */

.all_posts__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  font-family: "Kollektif Bold", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.all_posts__section_heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Kollektif Bold", sans-serif;
  font-size: 1.75rem;
  color: #62A6FF;
}

.all_posts__post_container {
  margin: 2rem 0;
}

.all_posts__post_link {
  text-decoration: none;
}

.all_posts__post_title {
  margin-top: 2rem;
  margin-bottom: 0.35rem;
  font-family: "Kollektif Bold", sans-serif;
  font-size: 1.375rem;
  color: #B9D368;
  text-transform: lowercase;
  text-decoration: none;
}

.all_posts__post_date {
  display: block;
  margin: 0.5rem 0;
  font-family: dinosaur, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: #A0A0A0;
  text-transform: uppercase;
}

.all_posts__post_excerpt {
  font-family: dinosaur, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.all_posts__link {
  color: #B9D368;
  text-decoration: none;
}
