/* src/pages/index.module.css */

.home__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: var(--primary-heading-color);
}

.nav__name {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.nav__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}

.social__background {
  position: absolute;
  padding: 4rem;
  z-index: -1;
  right: 0rem;
  top: 0rem;
  background-image: url("../assets/images/social_corner_graphic.svg");
  background-repeat: no-repeat;
  background-position: 0.25rem -5.5rem;
}

.nav__social > a {
  color: var(--primary-heading-color);
}

.home__banner {
  margin: 4.5rem 0;
  padding: 8rem 0;
  background-image: url("../assets/images/home_banner_graphic.svg");
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 0.75rem);
}

.home__title {
  color: var(--primary-heading-color);
  text-align: center;
}

.home__about {
  margin: 0 -1rem;
  padding: 3rem 1rem;
  background-color: var(--secondary-background-color);
}

.about__heading {
  color: var(--secondary-heading-color);
  text-align: center;
}

.about__para {
  color: var(--secondary-text-color);
}

.about__para:last-child {
  margin-bottom: 0;
}

.home__latest {
  margin: 4.5rem 0;
}

.latest__heading {
  margin-bottom: 2rem;
  color: var(--primary-heading-color);
  text-align: center;
}

.home__post_container {
  margin: 2rem 0;
  padding: 6rem 0;
  background-image: url("../assets/images/post_graphic_1.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 2.5rem) 50%;
}

.home__post_link {
  text-decoration: none;
}

.home__post_title {
  margin: 0 0 0.5rem 0;
  padding: 0 1rem;
  color: var(--primary-heading-color);
  text-transform: lowercase;
  text-align: center;
}

.home__post_date {
  margin: 0.5rem 0 0 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
}

.home__signoff {
  margin: 3rem -1rem 0 -1rem;
  padding: 4rem 1rem 1rem 1rem;
  background-color: var(--secondary-background-color);
}

.signoff__content {
  margin-bottom: 3rem;
}

.signoff__heading {
  margin: 0 0 2rem 0;
  color: var(--secondary-heading-color);
}

.signoff__para {
  color: var(--secondary-text-color);
}

.home__link {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

@media only screen and (min-width: 875px) {
  .home__nav {
    margin-top: 2rem;
  }

  .social__background {
    padding-left: 6rem;
    background-position: 0.7rem -3.25rem;
  }

  .home__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 -2rem;
    padding: 3rem 2rem;
  }

  .about__heading {
    text-align: left;
  }

  .home__latest {
    margin-bottom: 2rem;
  }

  .latest__listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 2rem;
  }

  .home__post_container {
    margin: 0;
    padding: 6rem 0;
    background-position: 50%;
  }

  .home__signoff {
    margin: 3rem -2rem 0 -2rem;
    padding: 4rem 2rem 2rem 2rem;
  }

  .signoff__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
