/* src/components/Button.module.css */

.button {
  text-align: center;
}

.button__link {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: warnock-pro-subhead, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: var(--primary-heading-color);
  text-align: center;
  text-decoration: none;
}
