/* src/components/DotGrid.module.css */

.dots__wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.dots__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 8px);
  grid-gap: 8px 8px;
  width: 100%;
}

.dots__dot_grass,
.dots__dot_aqua,
.dots__dot_summer {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-size: 100vw 80px;
  background-attachment: fixed;
}

.dots__dot_grass {
  background-image: linear-gradient(5deg,  #3EAD3F 10%, #E7FA15 50%, #3EAD3F 90% );
}

.dots__dot_aqua {
  background-image: linear-gradient(5deg, #43E97B 0%, #009EFD 50%, #43E97B 100%);
}

.dots__dot_summer {
  background-image: linear-gradient(5deg, #E7FA15 0%, #003EFD 50%, #E7FA15 100%);
}
