/* src/components/Footer.module.css */

.footer__copyright {
  margin: 0;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
